<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="免费,vpn,shadowsocks,帐号">
    <meta name="description" content="一个免费的shaodowsocks服务器帐号，任何人可以使用。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>免费Shadowsocks服务器</title>

    <!-- Bootstrap -->
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
#info {
      padding-top: 10%
}
#dowload {
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}     
    </style>
  </head>
  <body>

<div class="col-md-3"></div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="info">
    <div class="panel panel-default">
        <div align="center" class="panel-heading">
             <h2>Shadowsocks服务器</h2>

        </div>
        <div class="panel-body">服务器密码和端口在每天三点更换</div>
        <ul class="list-group">
            <li class="list-group-item">IP:   <span>{{ host.ip }}</span>
            </li>
            <li class="list-group-item">密码：<span>{{ host.password }}</span>

            </li>
            <li class="list-group-item">端口：<span>{{ host.port }}</span>

            </li>
             </li>
            <li class="list-group-item">加密方式：<span>rc4-md5</span>

            </li>
        </ul>
    </div>
</div>
</div>
<div><h3>客户端下载</h3>
    <hr>
    <ul id="dowload">
        <li><a href="http://pan.baidu.com/s/1c0cZycK">Windows</a> / <a href="https://github.com/shadowsocks/shadowsocks-iOS/wiki/Shadowsocks-for-OSX-Help">OS X</a></li>
        <li><a href="http://pan.baidu.com/s/1jGDuYvO">Andriod</a> / <a href="https://itunes.apple.com/us/app/shadowsocks/id665729974?ls=1&mt=8">iOS</a></li>
        <li><a href="#">Open WRT</a></li>
    </ul>

</div>
<div hidden><h3>FAQ</h3>
    <hr>
</div>


<div>
    <h3>Contact Me</h3>
    <hr>
    <p>如何有任何问题，请通过邮件联系我。</p>
    <address>
        <strong>Aaron</strong>
        <a>ibat@ibat.me</a>
    </address>
</div>

<div class="col-md-3"></div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?f9f584bc6f0d1484dc83e03bcf88189a";
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script>

 </body>
</html>


